@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Groups */
:root {
  --color-primary: #000000;
  /* Black */
  --color-neutral-100: #f4f4f5;
  /* Zinc 100 (Light) */
  --color-neutral-200: #e4e4e7;
  /* Zinc 200 */
  --color-neutral-300: #d4d4d8;
  /* Zinc 300 */
  --color-neutral-500: #71717a;
  /* Zinc 500 */
  --color-neutral-800: #27272a;
  /* Zinc 800 (Dark) */
  --color-white: #FFFFFF;
  --color-error-500: #ef4444;
  /* Error Red */
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input {
  font-family: 'Plus Jakarta Sans', monospace;
}

p,
a,
li {
  font-family: 'Plus Jakarta Sans', monospace;
  font-size: 1rem;
}

.heading-2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.heading-3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

#hero a:hover>svg {
  fill: var(--color-white);
}